*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.container{
    width: 90%;
}

header{
    padding: .5em 0;
    width: 100%;
}

.navbar-brand{
    font-size: 1.9em;
}

.nav-item{
    padding: 0 .5em;
}

.nav-item .btn{
    margin: .3em 0;
}

.nav-item a{
    font-size: .7em;
    color: #fff;
    font-weight: bold;
}

#banner{
    height: 50vh;
}

#baanner .carousel-item img{
    width: 80%;
}

#banner .carousel-item h2, #banner .carousel-item p{
    text-align: center;
    color: #fff;
}

#banner .carousel-item h2{
    font-size: 2.5em;
}

#banner .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(51,51,51, .5);
    padding: 10px;
  }


#why-meritrade, #Downloads, #platforms{
    margin-top: 10%;
    margin-bottom: 7%;
}

.icon-wrapper i{
    height: 100px;
    width: 100px;
    font-size: 2em;
    padding: 1em;
    background: #135D34;
    color: #fff;
    border-radius: 50%;
    margin-right: .5em;
    transition: .5s;
}

.icon-wrapper i:hover{
    color: #135D34;
    background: white;
    border: 2px solid #135D34;
    transform: scale(.9);
}

#growth{
    background-color: hsl(0, 0%, 90%);
    color: #727272;
}

.growth{
    background-image: url('/Images/meristem-growth.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 400px;
}

/* Style the tab */
#tab-title{
    padding-top: 10%;
    background-color: #154D34;
    color: #fff;
}

#tab-title h1{
    padding-bottom: 2%;
    font-weight: lighter;
}

.tab{
    overflow: hidden;
    background-color: #154D34;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
  }

  .tab-menu div{
      padding-bottom: 3%;
  }
  
  /* Style the buttons that are used to open the tab content */
  .tab div span {
    background-color: #154D34;
    color: 	rgba(255,255,255,.3);
    border: none;
    cursor: pointer;
  }

  .tab div span i{
      font-size: 40px;
  }

  .tab div span p{
      font-size: .8em;
      font-weight: bold;
  }
  
  
  /* Create an active/current tablink class */
  .tab div span.active {
    border: none;
    color: #fff;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }


  #KYC{
    padding-top: 10%;
    padding-bottom: 5%;
    color: #727272;
    font-size: .9em;
}

  #video{
    padding-top: 3%;
    padding-bottom: 5%;
    color: #727272;
    font-size: .9em;
}

#video div{
    margin-bottom: 2%;
}

#video div p{
    color: #154D34;
}

#KYC ul li, #KYC ol li{
    width: 90%;
    margin: 0 auto;
}

#KYC ol li{
    padding-bottom: 20px;
}

#KYC ul{
    margin-top: 3%;
    margin-bottom: 3%;
}

#KYC ul li{
    padding-bottom: 5px;
    margin-top: 10px;
    padding-top: 10px;
    list-style-type: none;
    margin-left: 0;
    border-top: 1px solid #727272;
}

#KYC ul li:before {
    content: "*" ;
 }

 #bank-detail, #Apps{
     padding-top: 10%;
     padding-bottom: 7%;
 }

 #bank-detail  img{
    width: 40%;
    border-radius: 50%;
 }

 #bank-detail table tbody th:first-child{
    width: 10%;
}

#canvas-bg{
    padding-top: 10%;
    padding-bottom: 7%;
    background-color: #00004c;
}

#canvas-bg h2{
    font-size: 2.5em;
}

.btn-success{
    background-color: #154D34;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    border: none;
}

.btn-success:hover{
    background-color: #fff;
    color: #154D34;
    border: 2px solid #fff;
}

#form{
    border: 3px solid #66b266;
    padding: 35px;
    border-radius: 10px;
    margin: 5%;
    cursor: pointer;
}

#smartphone{
    background-image: url('/Images/smartphone.png');
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    height: 550px;
    padding-top: 7%;
    padding-bottom: 5%;
}

#smartphone .carousel-item img{
    width: 63%;
    margin: 0px auto 0 auto;
}

#platforms ul li{
    list-style-type: none;
    font-size: 1.5em;
    padding: 5px;
    margin: 5px;
}

#platforms ul li:before {
    content: "-" ;
 }

#form h4{
    border-bottom: 3px solid #66b266;
    padding-bottom: 5px;
    text-align: center;
    font-size: .6em;
}


footer{
    background-color: #154D34;
    padding-top: 45%;
    padding-bottom: 20%;
    color: #fff;
}

footer h2, #why-meritrade h1, #bank-detail h1, #Downloads h2, #platforms h2{
    font-weight: lighter;
}

footer .our-brand ul li{
    float: left;
    list-style-type: none;
    padding: 10px;
}

footer .our-brand a{
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 700px) {
    #banner{
        height: 700px;
        margin-bottom: 5%;
        overflow: hidden;
    }

    .tab-menu ul li{
        float: left;
        list-style-type: none;
    }

    #form h4{
        font-size: 1.3em;
    }

    footer{
        background-color: #154D34;
        padding-top: 7%;
        padding-bottom: 1%;
        color: #fff;
    }
}

/*page loader*/
.sk-cube-grid {
    width: 40px;
    height: 40px;
    margin: 100px auto;
  }
  
  .sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background: #fff;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
  }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
            animation-delay: 0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  
  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1); 
    }
  }
  
  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    } 
  }

  .spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #135D34;
    z-index: 999999;
    }

    .spinner{
        margin: 0;
        position: absolute;
        top: 30%;
        left: 48%;
    }
